extends layouts/default


append header
	script(type='text/javascript', src='/js/store.js')
	script(type='text/javascript', src='/js/moment-2.1.0.js')
	script(type='text/javascript', src='/js/handlebars-1.0.12.js')
	script(type='text/javascript', src='/js/bond/init.js')
	script(type='text/javascript', src='/js/bond/sock.js')

block main

	h1 BOND

	div.wrapper
		
		.search-bar
			input#filter(type='text')
			ul#results

		#views
			#view---debugger.view
				h2 Debugger
				ul#logger
		

		.hints-wrapper
			ul#tabs

			ul#hints