block header
	title #{title}
	link(rel='stylesheet', href='/css/main.css')

	script(type='text/javascript', src='/js/jquery-2.0.3.js')
	script(type='text/javascript', src='/js/socksjs-0.3.4.17.g95f4.js')
