extends layouts/default


append header
	script(type='text/javascript', src='/js/store.js')
	script(type='text/javascript', src='/js/bond/init.js')
	script(type='text/javascript', src='/js/bond/sock.js')


block main

	h1 BOND

	div.wrapper
		
		div
			input#filter(type='text', value='')
		
			ul#results

		//- div(style='position:absolute;bottom:0;')
		//- 	div
		//- 		span: strong To:
		//- 		input(type='text',id='to')
		//- 	div
		//- 		span: strong Message:
		//- 		textarea(id='message')
		//- 	div
		//- 		button(id='send') Send

		h2 Debugger
		ul#logger
		
