body {
  padding: 50px;
  background: #000;
  color: #fff;
  font: 13px 'Lucida Grande', Helvetica, Arial, sans-serif;
}


#buddies,
#results {
	background: #333;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 2;

	.username {
		font-weight: 400
	}

	.resources {
		margin-left: 20px;

		.away {
			opacity: 0.5;
		}

		.online {
			color: #80e3bf;
		}

		.offline {
			display: none;
		}

		.dnd {
			color: #d46a45;
		}
	}

	li {
		margin: 5px 0;
		padding: 10px;
		border-bottom: 1px solid #555;

		.loc {
			font-size: 80%;
			padding-left: 10px;
		}
	}

	.away {
		opacity: 0.5;
	}

	.updated {
		background: pink;
	}
	
	.offline {
		display: none;
	}
}


#logger {
	font-size: 12px;
}
