#contacts-bar {
	left: -@contacts-bar-width;
	width: @contacts-bar-width;
	.transition(width 0.3s ease, left 0.3s ease;);

	.buddy {
		display: block;
		color: #eee;
		border-left: 4px solid @buddy-color-offline;
		font-size: 13px;
		font-weight: 200;
		letter-spacing: .1em;
		margin: 0 0 2px 0px;
		padding: 0 12px 0 8px;
		line-height: 20px;
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		
		&.buddy-state-online {
			border-color: @buddy-color-online;
		}

		&.buddy-state-away {
			border-color: @buddy-color-away;
		}

		&:hover {
			text-decoration: none;
			left: 2px;
		}

		&:active {
			background: @body-bg;
			color: @link-hover-color;
		}
	}
}

body.contacts-bar-expanded {
	#contacts-bar {
		left: 0;
	}
}