html {
	height: 100%
}

body {
	position: absolute;
	overflow-x: hidden;
	left: 0;
	right: 0;
	bottom: 0;
	top: @header-height;
	.transition(left 0.3s ease, right 0.3s ease;);

	&.contacts-bar-expanded {
		left: @contacts-bar-width;
	}

	&.settings-bar-expanded {
		right: @settings-bar-width;
	}
}

a {
	&:active {
		color: @link-hover-color;
	}

	&.glyphicon {
		text-decoration: none;

		&:hover {
			color: @link-hover-color;
		}
	}
}

input[type='text'], input[type='password'] {
	border: 1px solid #222;
	border-style: solid;
	padding: 3px 10px;
	font-weight: lighter;
	letter-spacing: 0.1em;
	color: #eee;
	background-color: #444;
	border-radius: 8px;

	&:focus {
		outline: none;
		background-color: #666;
		border-color: #aaa;	
	}

	&[disabled] {
		color: #999;
		cursor: not-allowed;
	}
}
