#settings-bar {
	right:-@settings-bar-width;
	width: @settings-bar-width;
	.transition(width 0.3s ease, right 0.3s ease;);
}

body.settings-bar-expanded {
	#settings-bar {
		right: 0;
	}
}

/*

.settings-container {
	margin-top: 10px;
	padding: 0 15px;
}

#account-form .form-group {
	label {
		text-align: right;
		padding-right: 5px;
		@media (max-width: @screen-xs-max) {
			text-align: left;
			margin-bottom: 5px;
		}
	}

	input[type='text'] {
		width: 100%;
	}

	.validation-message {
		color: #666;
		padding-left: 5px;
	}

	&.has-error {
		label {
			color: @text-color;
		}

		.validation-message {
			color: @state-danger-text;
		}
	}
}


*/