#settings-bar {
	background-color: #1C1C1C;
	position: fixed;
	top: 0;
	right:-@settings-bar-width;
	width: @settings-bar-width;
	overflow-x: hidden;
	height: 100%;
	.transition(width 0.3s ease, right 0.3s ease;);

	h3 {
		margin: 0 0 0 11px;
		line-height: @header-height;
		padding: 0;
		color: #bbb;
		font-weight: 200;
		letter-spacing: .1em;
		font-size: 14px;
		text-transform: uppercase;
	}

	> a {
		display: block;
		color: #eee;
		font-size: 13px;
		font-weight: 200;
		letter-spacing: .1em;
		white-space: nowrap;
		padding: 0 12px;
		line-height: 20px;
		position: relative;
		left: 0;
		.transition(left 0.15s ease;);

		&:hover {
			text-decoration: none;
			left: 2px;
		}

		&:active {
			background: @body-bg;
			color: @link-hover-color;
		}

		i {
			font-size: 12px;
			line-height: inherit;
			margin: 0 8px 0 0;
		}
	}
}

body.settings-bar-expanded {
	#settings-bar {
		right: 0;
	}
}






.settings-container {
	margin-top: 10px;
	padding: 0 15px;
}

#account-form .form-group {
	label {
		text-align: right;
		padding-right: 5px;
		@media (max-width: @screen-xs-max) {
			text-align: left;
			margin-bottom: 5px;
		}
	}

	input[type='text'] {
		width: 100%;
	}

	.validation-message {
		color: #666;
		padding-left: 5px;
	}

	&.has-error {
		label {
			color: @text-color;
		}

		.validation-message {
			color: @state-danger-text;
		}
	}
}


