.side-bar {
	background-color: #1C1C1C;
	position: fixed;
	top: 0;
	overflow-x: hidden;
	height: 100%;

	> h3 {
		margin: 0 0 0 11px;
		line-height: @header-height;
		padding: 0;
		color: #bbb;
		font-weight: 200;
		letter-spacing: .1em;
		font-size: 14px;
		text-transform: uppercase;
	}

	.panel {
		margin: 0 7px 7px 7px;

		.panel-heading {
			padding: 10px;

			.panel-title {
				font-size: 14px;
				font-weight: normal
			}
		}

		.panel-body {
			padding: 10px;
		}

		.panel-footer {
			padding: 8px 10px;
		}
	}

}
