@menu-width: 240px;
@header-height: 32px;

// @active-state-color: #07adbb;

// Bootstrap Variable Overrides

// colors (general)
@body-bg: #131313;
@text-color: #eee;
@link-color: #07adbb;
@link-hover-color: #3addee;

// panels
@panel-bg: #232323;
@panel-inner-border: @body-bg;
@panel-footer-bg: darken(@panel-bg, 10%);
@panel-default-text: @text-color;
@panel-default-border: @body-bg;
@panel-default-heading-bg: darken(@panel-bg, 10%);

// list groups
@list-group-bg: @panel-bg;
@list-group-border: @body-bg;

// misc
//@border-radius-base: 4px;