.container
	h1 Add/Edit {{provider.name}} Account
	a(href='#/settings') Back to Settings

	form#account-form.form-horizontal(name='accountForm', bootstrap-form-classes)
		div(ng-repeat='option in provider.configurableOptions', ng-switch='option.type')
			.form-group(ng-switch-when='text')
				label.col-xs-2.control-label(for='{{option.key}}') {{option.label}}:
				input.col-xs-6(type='text', name='{{option.key}}', ng-model='account[option.key]', required, data-required='true', data-trigger='change focusout')
				p.validation-message.text-danger.col-xs-4 Required
			.form-group(ng-switch-when='password')
				label.col-xs-2.control-label(for='{{option.key}}') {{option.label}}:
				input.col-xs-6(type='password', name='{{option.key}}', ng-model='account[option.key]', required)
				p.validation-message.text-danger.col-xs-4 Required
			.checkbox(ng-switch-when='bool')
				label
					input(type='checkbox', name='{{option.key}}', ng-model='account[option.key]')
					| {{option.label}}

		button(type='submit', ng-disabled='accountForm.$invalid', ng-click='saveAccount()').btn.btn-sm.btn-default Save

