.panel.panel-default(ng-controller='AccountCtrl')
	.panel-heading: h3.panel-title Add/Edit Account: {{provider.name}}

	.panel-body
		form#account-form.form-horizontal(name='accountForm', bootstrap-form-classes)
			div(ng-repeat='option in provider.configurableOptions', ng-switch='option.type')
				.form-group(ng-switch-when='text')
					label(for='{{option.key}}') {{option.label}}:
					.row
						.col-xs-7: input(type='text', name='{{option.key}}', ng-model='account[option.key]', required, data-required='true', data-trigger='change focusout')
						p.col-xs-5.validation-message Required
				.form-group(ng-switch-when='password')
					label.col-xs-2.control-label(for='{{option.key}}') {{option.label}}:
					.row
						.col-xs-7: input(type='password', name='{{option.key}}', ng-model='account[option.key]', required)
						p.col-xs-5.validation-message Required
				.checkbox(ng-switch-when='bool')
					label
						input(type='checkbox', name='{{option.key}}', ng-model='account[option.key]')
						| {{option.label}}

			button(type='submit', ng-disabled='accountForm.$invalid', ng-click='saveAccount()').btn.btn-sm.btn-default Save
