#header
	a#nav-toggle.glyphicon.glyphicon-circle-arrow-right(href='', ng-click='toggleSideMenu()')
	a#settings-button.glyphicon.glyphicon-cog(href='#/settings')
	h1 %User Name%

#side-menu(ng-controller='ContactsCtrl')
	h3 Contacts

	a(href='', ng-repeat='contact in contacts')
		i.glyphicon.glyphicon-user
		span {{ contact.name }}

.container
	h1 Bond
