#header
	a#nav-toggle.glyphicon.glyphicon-circle-arrow-right(href='', ng-click='toggleSideMenu($event)')
	a#settings-button.glyphicon.glyphicon-cog(href='settings.html')
	h1 %User Name%

#side-menu
	h3 Contacts
	a(href='#')
		i.glyphicon.glyphicon-user
		span Josh Skidmore
	a(href='#')
		i.glyphicon.glyphicon-user
		span Jeremy Martin
	a(href='#')
		i.glyphicon.glyphicon-user
		span Bryan Gilbert
	a(href='#')
		i.glyphicon.glyphicon-user
		span Gus
	a(href='#')
		i.glyphicon.glyphicon-user
		span Bob Williams

.container
	h1 Bond
