#contacts-bar.side-bar(ng-controller='ContactsCtrl')
	h3 Contacts

	.panel.panel-default(ng-repeat='group in groups')
		.panel-heading: h3.panel-title {{ group.name || 'Contacts' }}
		.panel-body
			a.buddy(href='', ng-repeat='contact in group.contacts | orderBy:stateAndNameSortValue')
				| {{ contact.name }}
