#header
	a#home-button.glyphicon.glyphicon-home(href='#/')
	h1 Settings

.settings-container
	.panel.panel-default
		.panel-heading: h3.panel-title Accounts
		.list-group
			li.list-group-item(ng-repeat='account in accounts')
				a(href='#/accounts/{{account.service}}/{{$index}}') {{ account.label }}
		.panel-footer
			strong Add Account:
			a.btn.btn-link(ng-repeat='(providerId, provider) in providers', href='#/accounts/{{providerId}}/-1')
				| {{ provider.name }}

