#settings-bar
	h3 Settings

	.panel.panel-default
		.panel-heading: h3.panel-title Accounts
		.list-group
			li.list-group-item: a(href='#') Account 1
			li.list-group-item: a(href='#') Account 2
			li.list-group-item: a(href='#') Account 3
			li.list-group-item: a(href='#') Account 4

		.panel-footer
			strong Add Account:
			a.btn.btn-link(href='#') GTalk
			a.btn.btn-link(href='#') AOL
