extends layouts/main

block content
	script.
		var bond = require('./lib');

		var gTalk = new bond.services.GTalk();

		//- gTalk.connect({
		//- 	"username": "",
		//- 	"password": ""
		//- });

		//- gTalk.on('connected', function() {
		//- 	console.log(arguments);
		//- });

		//- gTalk.on('presence', function(data) {

		//- 	$('#debug')
		//- 		.append(
		//- 			$('<p />')
		//- 				.html(  JSON.stringify(data) )

		//- 		);
		//- });


	.container
		h1 Bond

		#debug