doctype 5
html(lang='en', data-ng-app='bond')
	head
		title
		link(rel='stylesheet', href='css/bond.css')
		script(src='js/bond.js')

	body(ng-controller='MainCtrl', ng-class='{"side-menu-expanded": sideMenuExpanded}')
		#header
			a#nav-toggle.glyphicon.glyphicon-circle-arrow-right(href='', ng-click='toggleSideMenu()')
			a#settings-button.glyphicon.glyphicon-cog(href='#/settings')
			h1 Bond Chat
		ng-include(src='"partials/chat.html"')
