doctype 5
html(lang='en', data-ng-app='bond')
	head
		title
		link(rel='stylesheet', href='css/bond.css')
		script(src='js/bond.js')
		script.
			var gui = require('nw.gui'),
				bondWin = gui.Window.get();

			// devtools on f12
			window.addEventListener('keydown', function (ev) {
				if (ev.keyIdentifier === 'F12')
					bondWin.showDevTools();
			});

	body(ng-class='{"side-menu-expanded": sideMenuExpanded}')
		div(ng-view)


