extends layouts/main

block header
	a(href='#')#nav-toggle.glyphicon.glyphicon-circle-arrow-right
	a(href='settings.html')#settings-button.glyphicon.glyphicon-cog
	h1 %User Name%
	
block content
	include partials/side-menu

	script.
		// note: can't require nw.gui from required lib; passing through
		var bond = require('../lib');

		bond.init( require('nw.gui') );  // ref from public

		bond.eventManager.on('all', function(data) {
			$('#debug')
				.prepend(
					$('<p />')
						.html(  JSON.stringify(data) )
				);
		});

	.container
		h1 Bond

		#debug(style='color:#fff;')